@import "menu";
@import "config";

* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}
#profession {
  width: 36rem;
}
h1,
h2,
h3 {
  margin: o;
  font-weight: 400;
  position: relative;
  &.lg-heading {
    font-size: 6rem;
    margin-bottom: 0;
    text-shadow: 2px 2px 2px #000;
  }
  &.sm-heading {
    margin-top: 0;
    margin-bottom: 2rem;
  }
}
a {
  color: #fff;
  text-decoration: none;
}
.divider {
  display: flex;

  &:before,
  &:after {
    content: "";
    flex: 1;
  }
}
.line {
  align-items: center;
  margin: 0em 0em;

  &:before,
  &:after {
    height: 1px;
    margin: 0 0em;
  }
}

.one-line {
  &:before,
  &:after {
    background: black;
  }
}
header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 2.8rem;
  height: 100%;

  .icons {
    a {
      padding: 0.4rem;
      color: set-text-color($primary-color);
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
  &#home {
    background-size: contain;
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
  .qaSign {
    color: #fff;
    border: 1px solid black;
    padding: 9px;
    text-align: center;
    width: 9rem;
    border-radius: 20px;
    background-color: #444;
    text-shadow: 2px 2px 2px black;
  }
}
footer {
  &#bottom_menu {
    display: block;
    background-color: #000;
    z-index: 1;
    position: fixed;
    clear: both;
    width: 100%;
    top: 95%;
  }
}
@import "mobile";
